* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Work Sans";
}

ol, ul {
	list-style: none;
}

/* General Styles */

body {
	background-color: #B0F3F8;
	border: 10px white solid;
}

header {
	display: flex;
	align-items: center;
}

.logo {
	width: 90px;
	height: auto;
	margin: 30px;
	vertical-align: middle;
}

h1, h2, h3, p, li {
	color: #2E2E2E;
}

h1 {
	display: inline-block;
	font-weight: 500;
	font-size: 3.2em;
}

h2 {
	font-size: 1.8em;
	margin-bottom: 25px;
}

main {
	max-width: 800px;
	margin: 0 110px 0 110px;
}

.description {
	margin-left: 20px;
	margin-bottom: 40px;
}

p, li {
	font-size: 2.2em;
	font-weight: 300;
	line-height: 125%;
}

li {
	margin-left: 20px;
	display: inline-block;
}

ul {
	margin-bottom: 40px;
}

article {
	border-bottom: 1px solid white;
	padding-bottom: 40px;
	margin-bottom: 20px;
}

.email {
	font-size: 2em;
	display: block;
	margin-bottom: 30px;
	color: #4B90FF;
	font-weight: 600;
}

.links {
	margin-bottom: 50px;
}

.links > * {
	font-size: 1.7em;
	color: #4B90FF;
	font-weight: 600;
}

.proj-link, .important {
	color: #FC4F4F;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-weight: 600;
}

.proj-img {
	max-width: 100%;
	height: auto;
}

/* For smaller devices */

@media (max-width: 800px) {
	.logo {
		width: 70px;
	}
	main {
		margin: 0 70px 0 70px;
	}
	h1 {
		font-size: 2.5em;
	}
	p, li {
		font-size: 1.7em;
	}
	.links {
		font-size: 0.8em;
	}
}

@media (max-width: 600px) {
	.logo {
		width: 40px;
	}
	main {
		margin: 0 35px 0 35px;
	}
	h1 {
		font-size: 2.4em;
	}
	p, li {
		font-size: 1.8em;
	}
	.links {
		font-size: 0.7em;
	}
	.email {
		font-size: 1.7em;
	}
}

/* For larger devices */
@media (min-width: 1600px) {
	.logo {
		width: 110px;
	}
	main {
		margin: 0 150px 0 150px;
	}
	h1 {
		font-size: 3.5em;
	}
	p, li {
		font-size: 2.5em;
	}
	.links {
		font-size: 2em;
	}
	.email {
		font-size: 2.5em;
	}
}